In [4]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import os

In [12]:
df = pd.read_csv("trippub.csv")
df = df[['HOUSEID','PERSONID','HHSTATE','TRPTRANS','TRPMILES','WTTRDFIN','TRAVDAY']]

day = { 1 : 'Sunday', 2: 'Weekday', 3: 'Weekday', 4: 'Weekday', 5: "Weekday", 6: "Weekday", 7: "Saturday"}
day = pd.Series(day).to_frame('Day')
day = day.reset_index().rename(columns = {'index' : 'TRAVDAY'})


df = pd.merge(df, day, on = 'TRAVDAY')

df['TripDist'] = df['TRPMILES'] * df['WTTRDFIN']

national_bike = df.loc[(df["TRPTRANS"] == 2),]
national_walk = df.loc[df["TRPTRANS"] == 1,]
weights_bike = national_bike['WTTRDFIN'].sum()

In [13]:
df.head()

,HOUSEID,PERSONID,HHSTATE,TRPTRANS,TRPMILES,WTTRDFIN,TRAVDAY,Day,TripDist
0,30000007,1,NC,3,5.244,75441.905796,2,Weekday,3.956174e+05
1,30000007,1,NC,3,5.149,75441.905796,2,Weekday,3.884504e+05
2,30000007,2,NC,6,84.004,71932.645806,2,Weekday,6.042630e+06
3,30000007,2,NC,6,81.628,71932.645806,2,Weekday,5.871718e+06
4,30000007,3,NC,3,2.250,80122.686739,2,Weekday,1.802760e+05

In [14]:
# National Average Bike Trip Distance 

avg_dist_nat_bike = national_bike.groupby('Day')['TRPMILES'].mean()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike

          TRPMILES
Day
Saturday  3.549833
Sunday    3.030389
Weekday   2.545008

In [15]:
# National Average Walk Trip Distance 
avg_dist_nat_walk = national_walk.groupby('Day')['TRPMILES'].mean()
avg_dist_nat_walk = pd.DataFrame(avg_dist_nat_walk)
avg_dist_nat_walk

          TRPMILES
Day
Saturday  0.631021
Sunday    0.734646
Weekday   0.986144

In [ ]:
# FLORIDA

In [16]:
fl_bike = df.loc[(df["TRPTRANS"] == 2) & (df["HHSTATE"] == "FL"),]
fl_walk = df.loc[(df["TRPTRANS"] == 1) & (df["HHSTATE"] == "FL"),]

In [17]:
# Average Bike Trip Distance for Florida
avg_dist_fl_bike = fl_bike.groupby('Day')['TRPMILES'].mean()
avg_dist_fl_bike = pd.DataFrame(avg_dist_fl_bike)
avg_dist_fl_bike

          TRPMILES
Day
Saturday  1.832071
Sunday    3.016778
Weekday   2.490429

In [18]:
#Average Walk Trip Distance for Florida

avg_dist_fl_walk = fl_walk.groupby('Day')['TRPMILES'].mean()
avg_dist_fl_walk = pd.DataFrame(avg_dist_fl_walk)
avg_dist_fl_walk

          TRPMILES
Day
Saturday  0.571794
Sunday    0.469342
Weekday   1.056537