In [3]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import os

In [44]:
df = pd.read_csv("trippub.csv")
df = df[['HOUSEID','PERSONID','HHSTATE','TRPTRANS','TRPMILES','WTTRDFIN','TRAVDAY','TRIPPURP']]

day = { 1 : 'Sunday', 2: 'Weekday', 3: 'Weekday', 4: 'Weekday', 5: "Weekday", 6: "Weekday", 7: "Saturday"}
day = pd.Series(day).to_frame('Day')
day = day.reset_index().rename(columns = {'index' : 'TRAVDAY'})


df = pd.merge(df, day, on = 'TRAVDAY')

df['TripDist'] = df['TRPMILES'] * df['WTTRDFIN']

df = df.loc[(df['TRIPPURP'] != '-9'),]

national_bike = df.loc[(df["TRPTRANS"] == 2),]
national_walk = df.loc[df["TRPTRANS"] == 1,]
weights_bike = national_bike['WTTRDFIN'].sum()

In [45]:
df.head()

,HOUSEID,PERSONID,HHSTATE,TRPTRANS,TRPMILES,WTTRDFIN,TRAVDAY,TRIPPURP,Day,TripDist
0,30000007,1,NC,3,5.244,75441.905796,2,HBO,Weekday,3.956174e+05
1,30000007,1,NC,3,5.149,75441.905796,2,HBO,Weekday,3.884504e+05
2,30000007,2,NC,6,84.004,71932.645806,2,HBW,Weekday,6.042630e+06
3,30000007,2,NC,6,81.628,71932.645806,2,HBW,Weekday,5.871718e+06
4,30000007,3,NC,3,2.250,80122.686739,2,HBO,Weekday,1.802760e+05

In [46]:
# National Average Bike Trip Distance 

avg_dist_nat_bike = national_bike.groupby('Day')['TripDist','WTTRDFIN'].sum()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike['AvgDist'] = avg_dist_nat_bike['TripDist']/avg_dist_nat_bike['WTTRDFIN']
avg_dist_nat_bike

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

              TripDist      WTTRDFIN   AvgDist
Day
Saturday  1.789250e+09  5.486847e+08  3.260980
Sunday    1.062732e+09  4.141703e+08  2.565930
Weekday   5.619188e+09  2.611733e+09  2.151517

In [47]:
# National Average Walk Trip Distance 

avg_dist_nat_walk = national_walk.groupby('Day')['TripDist','WTTRDFIN'].sum()
avg_dist_nat_walk = pd.DataFrame(avg_dist_nat_walk)
avg_dist_nat_walk['AvgDist'] = avg_dist_nat_walk['TripDist']/avg_dist_nat_walk['WTTRDFIN']
avg_dist_nat_walk

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

              TripDist      WTTRDFIN   AvgDist
Day
Saturday  2.918245e+09  4.927085e+09  0.592286
Sunday    2.757003e+09  4.792190e+09  0.575312
Weekday   2.687546e+10  2.922753e+10  0.919525

In [48]:
# National Average Bike Trip Distance by Tour Purpose

avg_dist_nat_bike = national_bike.groupby(['Day','TRIPPURP'])['TripDist','WTTRDFIN'].sum()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike.reset_index()

avg_dist_nat_bike['AvgDist'] = avg_dist_nat_bike['TripDist']/avg_dist_nat_bike['WTTRDFIN']

avg_dist_nat_bike.pivot_table(index = ['Day'], values = 'AvgDist', columns = 'TRIPPURP')

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

TRIPPURP       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  2.635886  1.199624  3.304172  1.991578  5.113414
Sunday    5.871699  0.997169  1.888641  2.924829  3.208333
Weekday   2.213762  1.683225  1.876046  2.794740  2.068974

In [49]:
# National Average Walk Trip Distance 
avg_dist_nat_walk = national_walk.groupby(['Day','TRIPPURP'])['TripDist','WTTRDFIN'].mean()
avg_dist_nat_walk = pd.DataFrame(avg_dist_nat_walk)
avg_dist_nat_walk.reset_index()

avg_dist_nat_walk['AvgDist'] = avg_dist_nat_walk['TripDist']/avg_dist_nat_walk['WTTRDFIN']

avg_dist_nat_walk.pivot_table(index = ['Day'], values = 'AvgDist', columns = 'TRIPPURP')

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

TRIPPURP       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  0.817154  0.494160  0.563022  0.665986  0.513202
Sunday    0.901161  0.475336  0.415290  0.660000  0.530508
Weekday   0.885562  1.189265  0.658375  1.551666  0.894429

In [50]:
# FLORIDA

In [51]:
fl_bike = df.loc[(df["TRPTRANS"] == 2) & (df["HHSTATE"] == "FL"),]
fl_walk = df.loc[(df["TRPTRANS"] == 1) & (df["HHSTATE"] == "FL"),]

In [52]:
# Average Bike Trip Distance for Florida
avg_dist_fl_bike = fl_bike.groupby('Day')['TripDist','WTTRDFIN'].sum()
avg_dist_fl_bike = pd.DataFrame(avg_dist_fl_bike)

avg_dist_fl_bike['AvgDist'] = avg_dist_fl_bike['TripDist']/avg_dist_fl_bike['WTTRDFIN']
avg_dist_fl_bike

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

              TripDist      WTTRDFIN   AvgDist
Day
Saturday  4.906882e+07  2.752865e+07  1.782464
Sunday    1.252354e+08  3.786933e+07  3.307041
Weekday   4.052103e+08  1.769850e+08  2.289517

In [53]:
#Average Walk Trip Distance for Florida

avg_dist_fl_walk = fl_walk.groupby('Day')['TripDist','WTTRDFIN'].sum()
avg_dist_fl_walk = pd.DataFrame(avg_dist_fl_walk)
avg_dist_fl_walk

avg_dist_fl_walk['AvgDist'] = avg_dist_fl_walk['TripDist']/avg_dist_fl_walk['WTTRDFIN']
avg_dist_fl_walk

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

              TripDist      WTTRDFIN   AvgDist
Day
Saturday  1.038046e+08  1.989933e+08  0.521649
Sunday    1.333528e+08  2.905080e+08  0.459033
Weekday   2.423820e+09  1.185929e+09  2.043815

In [54]:
# Average Bike Trip Distance for Florida
avg_dist_fl_bike = national_bike.groupby(['Day','TRIPPURP'])['TripDist','WTTRDFIN'].sum()
avg_dist_fl_bike = pd.DataFrame(avg_dist_fl_bike)
avg_dist_fl_bike.reset_index()

avg_dist_fl_bike['AvgDist'] = avg_dist_fl_bike['TripDist']/avg_dist_fl_bike['WTTRDFIN']

avg_dist_fl_bike.pivot_table(index = ['Day'], values = 'AvgDist', columns = 'TRIPPURP')

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

TRIPPURP       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  2.635886  1.199624  3.304172  1.991578  5.113414
Sunday    5.871699  0.997169  1.888641  2.924829  3.208333
Weekday   2.213762  1.683225  1.876046  2.794740  2.068974

In [55]:
# National Average Walk Trip Distance 
avg_dist_fl_walk = national_walk.groupby(['Day','TRIPPURP'])['TripDist','WTTRDFIN'].mean()
avg_dist_fl_walk = pd.DataFrame(avg_dist_fl_walk)
avg_dist_fl_walk.reset_index()

avg_dist_fl_walk['AvgDist'] = avg_dist_fl_walk['TripDist']/avg_dist_fl_walk['WTTRDFIN']

avg_dist_fl_walk.pivot_table(index = ['Day'], values = 'AvgDist', columns = 'TRIPPURP')

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

TRIPPURP       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  0.817154  0.494160  0.563022  0.665986  0.513202
Sunday    0.901161  0.475336  0.415290  0.660000  0.530508
Weekday   0.885562  1.189265  0.658375  1.551666  0.894429