In [3]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import os

In [8]:
df = pd.read_csv("trippub.csv")
df = df[['HOUSEID','PERSONID','HHSTATE','TRPTRANS','TRPMILES','WTTRDFIN','TRAVDAY','TRIPPURP']]

day = { 1 : 'Sunday', 2: 'Weekday', 3: 'Weekday', 4: 'Weekday', 5: "Weekday", 6: "Weekday", 7: "Saturday"}
day = pd.Series(day).to_frame('Day')
day = day.reset_index().rename(columns = {'index' : 'TRAVDAY'})


df = pd.merge(df, day, on = 'TRAVDAY')

df['TripDist'] = df['TRPMILES'] * df['WTTRDFIN']

national_bike = df.loc[(df["TRPTRANS"] == 2),]
national_walk = df.loc[df["TRPTRANS"] == 1,]
weights_bike = national_bike['WTTRDFIN'].sum()

In [11]:
df.head()

,HOUSEID,PERSONID,HHSTATE,TRPTRANS,TRPMILES,WTTRDFIN,TRAVDAY,TRIPPURP,Day,TripDist
0,30000007,1,NC,3,5.244,75441.905796,2,HBO,Weekday,3.956174e+05
1,30000007,1,NC,3,5.149,75441.905796,2,HBO,Weekday,3.884504e+05
2,30000007,2,NC,6,84.004,71932.645806,2,HBW,Weekday,6.042630e+06
3,30000007,2,NC,6,81.628,71932.645806,2,HBW,Weekday,5.871718e+06
4,30000007,3,NC,3,2.250,80122.686739,2,HBO,Weekday,1.802760e+05

In [7]:
# National Average Bike Trip Distance 

avg_dist_nat_bike = national_bike.groupby('Day')['TRPMILES'].mean()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike

          TRPMILES
Day
Saturday  3.549833
Sunday    3.030389
Weekday   2.545008

In [15]:
# National Average Walk Trip Distance 
avg_dist_nat_walk = national_walk.groupby('Day')['TRPMILES'].mean()
avg_dist_nat_walk = pd.DataFrame(avg_dist_nat_walk)
avg_dist_nat_walk

          TRPMILES
Day
Saturday  0.631021
Sunday    0.734646
Weekday   0.986144

In [14]:
# National Average Bike Trip Distance by Tour Purpose

avg_dist_nat_bike = national_bike.groupby(['Day','TRIPPURP'])['TRPMILES'].mean()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike.reset_index()

avg_dist_nat_bike.pivot_table(index = ['Day'], values = 'TRPMILES', columns = 'TRIPPURP')

TRIPPURP       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  4.233510  1.645061  3.906218  2.174027  4.350982
Sunday    5.717853  1.241731  2.725463  2.091137  3.776841
Weekday   3.070520  2.336734  2.112069  2.672590  2.541181

In [15]:
# National Average Walk Trip Distance 
avg_dist_nat_walk = national_walk.groupby(['Day','TRIPPURP'])['TRPMILES'].mean()
avg_dist_nat_walk = pd.DataFrame(avg_dist_nat_walk)
avg_dist_nat_walk.reset_index()

avg_dist_nat_walk.pivot_table(index = ['Day'], values = 'TRPMILES', columns = 'TRIPPURP')

TRIPPURP   -9       HBO    HBSHOP  HBSOCREC       HBW       NHB
Day
Saturday  1.0  0.887894  0.495700  0.617999  0.524978  0.540835
Sunday    NaN  0.981946  0.495811  0.590391  0.683307  0.854563
Weekday   NaN  1.050857  1.473993  0.697305  1.157529  0.954217

In [ ]:
# FLORIDA

In [16]:
fl_bike = df.loc[(df["TRPTRANS"] == 2) & (df["HHSTATE"] == "FL"),]
fl_walk = df.loc[(df["TRPTRANS"] == 1) & (df["HHSTATE"] == "FL"),]

In [17]:
# Average Bike Trip Distance for Florida
avg_dist_fl_bike = fl_bike.groupby('Day')['TRPMILES'].mean()
avg_dist_fl_bike = pd.DataFrame(avg_dist_fl_bike)
avg_dist_fl_bike

          TRPMILES
Day
Saturday  1.832071
Sunday    3.016778
Weekday   2.490429

In [18]:
#Average Walk Trip Distance for Florida

avg_dist_fl_walk = fl_walk.groupby('Day')['TRPMILES'].mean()
avg_dist_fl_walk = pd.DataFrame(avg_dist_fl_walk)
avg_dist_fl_walk

          TRPMILES
Day
Saturday  0.571794
Sunday    0.469342
Weekday   1.056537

In [19]:
###Test

# National Average Bike Trip Distance 

avg_dist_nat_bike = national_bike.groupby('Day')['TRPMILES','WTTRDFIN'].sum()
avg_dist_nat_bike = pd.DataFrame(avg_dist_nat_bike)
avg_dist_nat_bike
avg_dist_nat_bike['Ratio'] = avg_dist_nat_bike['TRPMILES']/avg_dist_nat_bike['WTTRDFIN']
avg_dist_nat_bike

C:\Users\vyadav\AppData\Local\Continuum\anaconda3\envs\vy\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

           TRPMILES      WTTRDFIN     Ratio
Day
Saturday   2889.564  5.486847e+08  0.000005
Sunday     2548.557  4.141703e+08  0.000006
Weekday   16234.606  2.611733e+09  0.000006

In [ ]:
# Average Bike Trip Distance for Florida
avg_dist_fl_bike = fl_bike.groupby(['Day','TRIPPURP'])['TRPMILES',].mean()
avg_dist_fl_bike = pd.DataFrame(avg_dist_fl_bike)
avg_dist_fl_bike

avg_dist_fl_bike.reset_index()

avg_dist_fl_walk.pivot_table(index = ['Day'], values = 'TRPMILES', columns = 'TRIPPURP')